security:
    # https://symfony.com/doc/current/security.html#registering-the-user-hashing-passwords
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

    # https://symfony.com/doc/current/security.html#loading-the-user-the-user-provider
    providers:
        # used to reload user from session & other features (e.g. switch_user)
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email

    firewalls:
        dev:
            # Ensure dev tools and static assets are always allowed
            pattern: ^/(_profiler|_wdt|assets|build)/
            security: false
        main:
            lazy: true
            provider: app_user_provider
            form_login:
                login_path: app_login
                check_path: app_login
                enable_csrf: true
            logout:
                path: app_logout
                target: app_login
            remember_me:
                secret: '%kernel.secret%'
                lifetime: 604800 # 1 week in seconds
                path: /
                always_remember_me: true

            # Activate different ways to authenticate:
            # https://symfony.com/doc/current/security.html#the-firewall

            # https://symfony.com/doc/current/security/impersonating_user.html
            # switch_user: true

    role_hierarchy:
        ROLE_TECH:       ROLE_USER
        ROLE_MANAGER:    [ROLE_TECH, ROLE_USER]
        ROLE_ADMIN:      [ROLE_MANAGER, ROLE_TECH, ROLE_USER]

    # Note: Only the *first* matching rule is applied
    access_control:
        - { path: ^/login, roles: PUBLIC_ACCESS }
        - { path: ^/logout, roles: PUBLIC_ACCESS }
        - { path: ^/forgot-password, roles: PUBLIC_ACCESS }
        - { path: ^/admin, roles: ROLE_ADMIN }
        - { path: ^/user/create, roles: ROLE_ADMIN }
        - { path: ^/ticket/\d+/pickup, roles: ROLE_TECH }
        - { path: ^/ticket/create, roles: ROLE_USER }
        - { path: ^/ticket/\d+/status, roles: ROLE_TECH }
        - { path: ^/ticket/\d+/assign, roles: ROLE_MANAGER }
        - { path: ^/ticket/\d+/comment, roles: ROLE_USER }
        - { path: ^/ticket/\d+/delete, roles: ROLE_USER }
        - { path: ^/ticket/\d+/restore, roles: ROLE_USER }
        - { path: ^/ticket/\d+/delete-permanent, roles: ROLE_USER }
        - { path: ^/ticket/trash/restore, roles: ROLE_USER }
        - { path: ^/ticket/trash/empty, roles: ROLE_USER }
        - { path: ^/ticket/\d+$, roles: ROLE_USER }
        - { path: ^/ticket$, roles: ROLE_TECH }

when@test:
    security:
        password_hashers:
            # Password hashers are resource-intensive by design to ensure security.
            # In tests, it's safe to reduce their cost to improve performance.
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4 # Lowest possible value for bcrypt
                time_cost: 3 # Lowest possible value for argon
                memory_cost: 10 # Lowest possible value for argon
